@font-face {
    font-family: Pop;
    src: url(./assets/fonts/Poppins-Regular.ttf);
}

$Purple: hsl(259, 100%, 65%);
$Lightred: hsl(0, 100%, 67%);
$White: hsl(0, 0%, 100%);
$Offwhite: hsl(0, 0%, 94%);
$Lightgrey: hsl(0, 0%, 86%);
$Smokeygrey: hsl(0, 1%, 44%);
$Offblack: hsl(0, 0%, 8%);

* {
    font-family: Pop !important;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    overflow-x: hidden;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $Offwhite;
}

html {
    font-size: 62.5%;

    @media (max-width: 375px) {
        font-size: 55%;
    }

    @media (max-width: 1440px) {
        font-size: 50%;
    }
}

small {
    color: $Lightred;
    font-size: 1.5rem;
    font-weight: bold;
}

label {
    color : $Offblack ;
    text-transform: uppercase;
    font-size: 1.5rem;

}


.container {
    background-color: $White;
    width: 60rem;
    height: 60rem;
    padding: 5rem;
    position: relative;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border-bottom-right-radius: 15rem;

    .input-flex {
        display: flex;
        gap: 1rem;
        padding-bottom: 2rem;
        border-bottom: 2px solid $Lightgrey;

        .input-container {
            display: flex;
            flex-direction: column;

        }
    }

    input {
        width: 11rem;
        padding: 1rem;
        border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        border: 2px solid $Lightgrey ;
        font: {
            size : 2.5rem ;
            weight : 800 ;
        };

        &:focus {
            border: 2px solid $Purple;
        }

        &::placeholder {
            color : $Lightgrey ;
        }
    }

    .submit-btn {
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-color: $Purple;
        border: none;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 3rem;
        top: 13rem;
        cursor: pointer;

        &:hover {
            background-color: $Offblack;
        }

        @media (max-width: 767px) {
            right: 40%;
        }

    }

    .output {
        margin-top: 3rem;

        span {
            font-size: 5.5rem;
            color: $Purple;
            font-style: italic;
            margin-right: 1.5rem;

        }

        h1 {
            font-size: 6rem;
        }

      
    }
}